@import "tailwindcss";



body{
  background-image: url('/assets/images/bgImage.svg');
  background-position: center;
  background-size: cover;

}


.AtScrollHide::-webkit-scrollbar {
  display: none !important;
}
.AtScrollHide {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}